.page-header
  %h1= t("configure_engine.title", :default => 'Config')
.row
  .span12
    = form_tag(admin_configurable_path, :method => :put, :class => 'form-horizontal') do
      %ul#configTab.nav.nav-tabs
        %li.active
          %a{:href=>"#main", :data => {:toggle=>"tab"}}Main
        - @groups.each do |g|
          %li
            %a{:href=>"##{g.group}", :data => {:toggle=>"tab"}}= g.title

      .tab-content.tab-content-bordered.panel
        #main.tab-pane.active= render partial: 'values', object: Configurable
        - @groups.each do |g|
          .tab-pane{:id => g.group}= render partial: 'values', object: g
          
      .form-group
        .col-sm-8
          = submit_tag t("configure_engine.save", :default => 'Save'), :class => 'btn'
